* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background: #eee;
}

input { margin: .5em 0; }
input[type="date"],
input[type="text"] { width: 100%; }

header {
  width: 100%;
  height: 1em;
  padding: 1.5em;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: royalblue;
  box-shadow: 0 2px 2px #999;
}
  header h1 {
    font-size: 1em;
    color: #fff;
  }
  button#header__about {
    color: #fff;
    border-style: none;
    background: transparent;
    font-family: monospace;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
  }

main {
  margin-top: 3em;
}
  main ul { padding: 0; }
  main li { list-style: none; }
  main section {
    padding: .5em;
    margin: 1em 0;
    background: #fff;
    box-shadow: 0 1px 1px #ccc;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    text-align: center;
  }

aside#add-btn {
  width: 2em;
  height: 2em;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: .5em;
  right: .5em;
  border-radius: 1em;
  font-size: 2em;
  font-family: monospace;
  color: #fff;
  background: crimson;
  box-shadow: 0 2px 2px #666;
  cursor: pointer;
}

aside#date-modal.active {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  visibility: visible;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .6);
  transition: background .2s;
}
  aside#date-modal { visibility: hidden; }
  div#date-dialog {
    width: 80%;
    padding: .5em;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 2px 6px #444;
  }
    p#date-dialog__title {
      margin: 0;
      font-weight: bold;
    }
    p#date-dialog__errmsg {
      margin: .2em 0;
      font-size: smaller;
      color: brown;
    }
    div#date-dialog__btn-groups {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
      div#date-dialog__btn-groups > button {
        margin: 0 .2em;
      }
