body {
    margin: 0px;
}

h2 {
    margin-top: 0px;
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', helvetica;
    color: #F9AB69;
}

#day-counter {
    margin-top: 20px;
    font-size: 72px;
    font-family: 'Times New Roman', helvetica;
    text-align: center;
}